@charset "utf-8";
/* CSS Document */
p {background: #19CC7B;}
a {background-color: aqua;}
h1 {background: brown; color:blue;}
h2 {background-color: chartreuse;}
h3 {background-color: blueviolet;}
h4 {background: yellow;}
h5 {background-color:antiquewhite;}
h6 {background-color:orange;}
